absl-py==2.4.0
annotated-types==0.7.0
anyio==4.13.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
clingo==5.8.0
contourpy==1.3.3
-e git+https://github.com/hb-hello/cs_reqs.git@7ee655560754b46b3f9a299f86822ce4d8456710#egg=cs_reqs
cycler==0.12.1
distro==1.9.0
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
immutabledict==4.3.1
jiter==0.13.0
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.3
openai==2.30.0
ortools==9.15.6755
packaging==26.0
pandas==3.0.1
pillow==12.1.1
protobuf==6.33.6
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.33.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
